* {
  margin: 0;
  padding: 0;
}

.pvf-container {
  width: auto;
  min-height: 100vh;
  background-color: white;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.pvf-step {
  display: flex;
  flex-direction: column;
  gap: 2.0rem;
  animation: fadeIn 0.3s ease-in;
}

.pvf-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

.pvf-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pvf-section-header h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
}

.pvf-section-header span {
  font-size: 0.875rem;
  color: gray;
}

.pvf-description {
  font-size: 0.9rem;
  color: #777;
  text-align: left;
}
.pvf-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; 
}

.pvf-block {
  margin-top: 1rem;
}

.pvf-label {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.pvf-input {
  width: 98%;
  padding: 1rem 0.5rem;
  border-radius: 6px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.pvf-radio-group,
.pvf-checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ensure alignment starts from the left */
  gap: 1.5rem; /* Reduced gap for a more compact look */
  margin-top: 1rem;
}

.pvf-radio-group label,
.pvf-checkbox-group label {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Space between radio button/checkbox and text */
  color: black;
  white-space: nowrap; /* Prevents text from breaking */
  cursor: pointer; /* Makes labels clickable */
}

.pvf-radio-group input[type="radio"],
.pvf-checkbox-group input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.pvf-btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.pvf-btn-right {
  display: flex;
  justify-content: flex-end;
}


.pvf-btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pvf-btn:hover {
  transform: scale(1.05);
}

.pvf-btn-primary {
  background-color: #007bff;
  color: white;
}

.pvf-btn-back {
  background-color: #ccc;
  color: black;
}

.pvf-btn-confirm {
  background-color: #0066cc;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
